Repository vnphanquang/svelte-put: changes, and which lefthook commands are due for each by the changed paths.
All: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

1_eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

2_svelte-check:
  run: pnpm svelte-check
  stage_fixed: true

1_stylelint:
  run: pnpm stylelint {staged_files}
  stage_fixed: true

2_prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(movable): preventClickThreshold option
  .changeset/five-penguins-roll.md
  packages/movable/src/movable.js
  packages/movable/src/types.public.d.ts
Due: 1_eslint, 2_prettier

chore: disable svelte-check during lefthook for now
  lefthook.yaml
Due: 2_prettier

docs(swipeable): note about touch event issue
  .changeset/forty-carrots-ring.md
  sites/docs/src/packages/swipeable/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

feat(swipeable): followThrough.container
  .changeset/great-suns-relate.md
  packages/swipeable/src/swipeable.svelte.js
  packages/swipeable/src/types.private.d.ts
  packages/swipeable/src/types.public.d.ts
  sites/docs/src/packages/swipeable/_page/examples/demo.svelte
  sites/docs/src/packages/swipeable/docs.md.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

fix(qr): squash modules into single path
  .changeset/tidy-hotels-grin.md
  packages/qr/src/qr/index.js
Due: 1_eslint, 2_prettier

feat(shortcut): 'none' modifier
  .changeset/fresh-ads-fix.md
  packages/shortcut/src/shortcut.js
  packages/shortcut/src/types.public.d.ts
  sites/docs/src/packages/shortcut/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

feat(shortcut): support 'code' for matching - experimental
  .changeset/strange-shrimps-doubt.md
  packages/shortcut/src/shortcut.js
  packages/shortcut/src/types.public.d.ts
  sites/docs/src/packages/shortcut/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

docs(shortcut): upate link to typing & heading of 'none' modifier
  sites/docs/src/packages/shortcut/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

chore: add back shared tsconfig
  internals/tsconfig/base.json
  internals/tsconfig/base.package.js.json
  pnpm-workspace.yaml
Due: 2_prettier

chore(pnpm-workspace): clean up allowBuilds
  pnpm-workspace.yaml
Due: 2_prettier

chore(package.json): clear workspaces (already set in pnpm-workspace), and update author email
  package.json
Due: 2_prettier

chore(docs): add .wrangler artifact to gitignore
  sites/docs/.gitignore
  sites/docs/.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite
  sites/docs/.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-shm
  sites/docs/.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-wal
Due: none

chore(docs): git-untrack .env
  sites/docs/.env
Due: none

chore: add back changeset dependencies, reinit changeset config with latest schema
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: 2_prettier

chore: configure new changeset github action
  .github/actions/setup/action.yaml
  .github/workflows/changesets.yaml
Due: 2_prettier

feat: add back @svelte-put/preprocess-auto-slug, now as a vite plugin
  .changeset/legal-news-nail.md
  .changeset/seven-paths-smile.md
  packages/preprocess-auto-slug/.gitignore
  packages/preprocess-auto-slug/CHANGELOG.md
  packages/preprocess-auto-slug/README.md
  packages/preprocess-auto-slug/eslint.config.js
  packages/preprocess-auto-slug/package.json
  packages/preprocess-auto-slug/src/index.js
  packages/preprocess-auto-slug/src/types.public.d.ts
  packages/preprocess-auto-slug/src/types.public.js
  packages/preprocess-auto-slug/src/vite.js
  packages/preprocess-auto-slug/tsconfig.json
  pnpm-lock.yaml
Due: 1_eslint, 2_prettier

chore(preprocess-auto-slug): move src -> lib, leave place for docs & tests later
  packages/preprocess-auto-slug/package.json
  packages/preprocess-auto-slug/src/lib/index.js
  packages/preprocess-auto-slug/src/lib/types.public.d.ts
  packages/preprocess-auto-slug/src/lib/types.public.js
  packages/preprocess-auto-slug/src/lib/vite.js
Due: 1_eslint, 2_prettier

chore(preprocess-auto-slug): set sideEffects: false explicitly in package.json
  packages/preprocess-auto-slug/package.json
Due: 2_prettier

chore(preprocess-auto-slug): set lefthook
  lefthook.yaml
Due: 2_prettier

feat: @internals/docpage for isolated but reusable doc setup in each package
  internals/docpage/eslint.config.js
  internals/docpage/package.json
  internals/docpage/src/collection.ts
  internals/docpage/src/definition.ts
  internals/docpage/src/index.ts
  internals/docpage/src/loader.ts
  internals/docpage/src/vite.ts
  internals/docpage/tsconfig.json
  internals/tsconfig/base.json
  package.json
  packages/preprocess-auto-slug/eslint.config.js
  packages/preprocess-auto-slug/package.json
  packages/preprocess-auto-slug/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sites/docs/package.json
  sites/docs/tsconfig.json
Due: 1_eslint, 2_prettier

feat(preprocess-auto-slug): multi-page doc setup for preprocess-auto-slug / add migration guides
  packages/preprocess-auto-slug/src/app.css
  packages/preprocess-auto-slug/src/app.html
  packages/preprocess-auto-slug/src/docs/entries/0-introduction/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/0-introduction/includes/suspicious-links.webp
  packages/preprocess-auto-slug/src/docs/entries/1-migrations/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/2-limitations/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/3-customisation/doc.svelte
  packages/preprocess-auto-slug/src/docs/index.ts
  packages/preprocess-auto-slug/src/routes/[[slug]]/+page.svelte
  packages/preprocess-auto-slug/vite.config.ts
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

chore: upgrade sveltekit to 3.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sites/docs/package.json
Due: 2_prettier

chore(preprocess-auto-slug): clean up, update doc entry name
  packages/preprocess-auto-slug/README.md
  packages/preprocess-auto-slug/package.json
  packages/preprocess-auto-slug/src/docs/entries/0-getting-started/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/0-getting-started/includes/suspicious-links.webp
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

chore: reinit inline-svg, bump node & pnpm version, fix pnpm lockfile
  package.json
  packages/inline-svg/.gitignore
  packages/inline-svg/CHANGELOG.md
  packages/inline-svg/README.md
  packages/inline-svg/eslint.config.js
  packages/inline-svg/package.json
  packages/inline-svg/src/app.css
  packages/inline-svg/src/app.html
  packages/inline-svg/src/docs/entries/0-getting-started/doc.svelte
  packages/inline-svg/src/docs/index.ts
  packages/inline-svg/src/lib/index.js
  packages/inline-svg/src/lib/vite/index.js
  packages/inline-svg/src/routes/[[slug]]/+page.svelte
  packages/inline-svg/tsconfig.json
  packages/inline-svg/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stylelint.config.js
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

chore(inline-svg): BREAKING - drop api.sveltePreprocess, use transform hook; merge preprocessor into vite plugin - one single strategy
  .changeset/chilly-plants-vanish.md
  .changeset/mighty-snails-grin.md
  packages/inline-svg/package.json
  packages/inline-svg/src/lib/index.js
  packages/inline-svg/src/lib/runtime/action/index.js
  packages/inline-svg/src/lib/runtime/action/types.public.d.ts
  packages/inline-svg/src/lib/runtime/action/types.public.js
  packages/inline-svg/src/lib/runtime/internals.js
  packages/inline-svg/src/lib/vite/index.js
  packages/inline-svg/src/lib/vite/internals.js
  packages/inline-svg/src/lib/vite/types.public.d.ts
  packages/inline-svg/src/lib/vite/types.public.js
  packages/preprocess-auto-slug/src/lib/types.public.d.ts
  pnpm-lock.yaml
Due: 1_eslint, 2_prettier

fix(inline-svg): add back preprocessor export
  .changeset/chilly-plants-vanish.md
  packages/inline-svg/package.json
  packages/inline-svg/src/docs/entries/0-getting-started/doc.svelte
  packages/inline-svg/src/lib/preprocessor/index.js
  packages/inline-svg/src/lib/preprocessor/internals.js
  packages/inline-svg/src/lib/preprocessor/types.public.d.ts
  packages/inline-svg/src/lib/preprocessor/types.public.js
  packages/inline-svg/src/lib/vite/index.js
  packages/inline-svg/src/lib/vite/internals.js
  packages/inline-svg/src/lib/vite/types.public.d.ts
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

refactor: extract common standalone doc page pattern to @internals/docpage
  internals/docpage/package.json
  internals/docpage/src/components/index.ts
  internals/docpage/src/components/standalone-doc/index.ts
  internals/docpage/src/components/standalone-doc/standalone-doc.svelte
  internals/docpage/src/index.ts
  internals/docpage/src/loader.ts
  packages/inline-svg/src/app.css
  packages/inline-svg/src/routes/[[slug]]/+page.svelte
  packages/preprocess-auto-slug/src/app.css
  packages/preprocess-auto-slug/src/docs/entries/1-migrations/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/3-customisation/doc.svelte
  packages/preprocess-auto-slug/src/routes/[[slug]]/+page.svelte
  sites/docs/src/app.css
  stylelint.config.js
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

chore: add back docs for inline-svg
  packages/inline-svg/src/docs/entries/0-introduction/doc.svelte
  packages/inline-svg/src/docs/entries/1-migrations/doc.svelte
  packages/inline-svg/src/docs/entries/2-runtime/doc.svelte
  packages/inline-svg/src/docs/entries/2-runtime/includes/demo.svelte
  packages/inline-svg/src/docs/entries/3-compile-time/doc.svelte
  packages/inline-svg/src/docs/entries/3-compile-time/includes/examples/config.ts
  packages/inline-svg/src/docs/entries/3-compile-time/includes/examples/filesystem.txt
  packages/inline-svg/src/docs/entries/3-compile-time/includes/examples/typedef.ts
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

fix(auto-slug): add back preprocessor
  .changeset/legal-news-nail.md
  .changeset/seven-paths-smile.md
  packages/preprocess-auto-slug/package.json
  packages/preprocess-auto-slug/src/lib/index.js
  packages/preprocess-auto-slug/src/lib/preprocessor/index.js
  packages/preprocess-auto-slug/src/lib/preprocessor/types.public.d.ts
  packages/preprocess-auto-slug/src/lib/preprocessor/types.public.js
  packages/preprocess-auto-slug/src/lib/vite.js
  packages/preprocess-auto-slug/src/lib/vite/index.js
  packages/preprocess-auto-slug/src/lib/vite/types.public.d.ts
  packages/preprocess-auto-slug/src/lib/vite/types.public.js
Due: 1_eslint, 2_prettier

refactor(inline-svg): simplify type reference with jsdoc @import
  packages/inline-svg/src/lib/preprocessor/index.js
  packages/inline-svg/src/lib/preprocessor/internals.js
  packages/inline-svg/src/lib/vite/index.js
  packages/inline-svg/src/lib/vite/internals.js
Due: 1_eslint, 2_prettier

docs(preprocess-auto-slug): merge limitationsto getting-started, expand customisation with typehinted snippets with default options
  packages/inline-svg/src/docs/entries/3-compile-time/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/0-getting-started/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/1-migrations/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/2-customisation/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/2-limitations/doc.svelte
  packages/preprocess-auto-slug/src/docs/entries/3-customisation/doc.svelte
  packages/preprocess-auto-slug/src/lib/preprocessor/types.public.d.ts
  packages/preprocess-auto-slug/src/lib/vite/index.js
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

docs(inline-svg): add typehint where needed
  packages/inline-svg/src/docs/entries/0-introduction/doc.svelte
  packages/inline-svg/src/docs/entries/2-runtime/doc.svelte
  packages/inline-svg/src/docs/entries/3-compile-time/doc.svelte
  packages/inline-svg/src/lib/runtime/action/index.js
  packages/preprocess-auto-slug/src/app.html
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

fix(inline-svg): make vite plugin params optional
  packages/inline-svg/src/app.html
  packages/inline-svg/src/lib/vite/index.js
Due: 1_eslint, 2_prettier

chore(inline-svg,preprocess-auto-slug): set vite peer dependency as optional
  packages/inline-svg/package.json
  packages/preprocess-auto-slug/package.json
Due: 2_prettier

feat(external-link): now export as a vite plugin - redo doc page
  .changeset/odd-cups-bet.md
  internals/docpage/src/components/standalone-doc/standalone-doc.svelte
  internals/docpage/src/vite.ts
  package.json
  packages/inline-svg/src/docs/entries/3-compile-time/doc.svelte
  packages/inline-svg/src/docs/entries/3-compile-time/includes/examples/config.ts
  packages/preprocess-auto-slug/src/docs/entries/0-getting-started/doc.svelte
  packages/preprocess-external-link/README.md
  packages/preprocess-external-link/eslint.config.js
  packages/preprocess-external-link/package.json
  packages/preprocess-external-link/src/app.css
  packages/preprocess-external-link/src/app.html
  packages/preprocess-external-link/src/docs/entries/0-getting-started/doc.svelte
  packages/preprocess-external-link/src/docs/entries/1-migrations/doc.svelte
  packages/preprocess-external-link/src/docs/entries/2-customisation/doc.svelte
  packages/preprocess-external-link/src/docs/index.ts
  packages/preprocess-external-link/src/lib/index.js
  packages/preprocess-external-link/src/lib/preprocessor/index.js
  packages/preprocess-external-link/src/lib/preprocessor/types.public.d.ts
  packages/preprocess-external-link/src/lib/preprocessor/types.public.js
  packages/preprocess-external-link/src/lib/vite/index.js
  packages/preprocess-external-link/src/lib/vite/types.public.d.ts
  packages/preprocess-external-link/src/lib/vite/types.public.js
  packages/preprocess-external-link/src/routes/[[slug]]/+page.svelte
  packages/preprocess-external-link/tsconfig.json
  packages/preprocess-external-link/types/index.d.ts
  packages/preprocess-external-link/types/index.d.ts.map
  packages/preprocess-external-link/vite.config.ts
  pnpm-lock.yaml
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

refactor(@internals/docpage): simplify standalone doc page setup, reduce app.html and app.css
  internals/docpage/package.json
  internals/docpage/src/components/index.ts
  internals/docpage/src/components/standalone-doc/index.ts
  internals/docpage/src/index.ts
  internals/docpage/src/standalone/app.html
  internals/docpage/src/standalone/components/documentation/documentation.svelte
  internals/docpage/src/standalone/components/documentation/index.ts
  internals/docpage/src/standalone/components/documentation/styles.css
  internals/docpage/src/standalone/components/index.ts
  internals/docpage/src/standalone/index.ts
  internals/docpage/src/standalone/vite.ts
  packages/inline-svg/src/app.css
  packages/inline-svg/src/routes/[[slug]]/+page.svelte
  packages/inline-svg/vite.config.ts
  packages/preprocess-auto-slug/src/app.css
  packages/preprocess-auto-slug/src/app.html
  packages/preprocess-auto-slug/src/routes/[[slug]]/+page.svelte
  packages/preprocess-auto-slug/vite.config.ts
  packages/preprocess-external-link/src/app.css
  packages/preprocess-external-link/src/app.html
  packages/preprocess-external-link/src/routes/[[slug]]/+page.svelte
  packages/preprocess-external-link/vite.config.ts
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

feat(docpage): render page lists on the left
  internals/docpage/src/loader.ts
  internals/docpage/src/standalone/components/documentation/documentation.svelte
  packages/inline-svg/src/docs/index.ts
  packages/inline-svg/src/routes/[[slug]]/+page.svelte
  packages/preprocess-auto-slug/src/docs/index.ts
  packages/preprocess-auto-slug/src/routes/[[slug]]/+page.svelte
  packages/preprocess-external-link/src/docs/index.ts
  packages/preprocess-external-link/src/routes/[[slug]]/+page.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

fix(docpage.standalone): should key the whole Markdown template
  internals/docpage/src/standalone/components/documentation/documentation.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

feat(docpage): toc & pages nav on mobile
  internals/docpage/src/standalone/components/documentation/documentation.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

Path conditions:
  1_eslint: any of: *.{js,ts,svelte}
  2_svelte-check: any of: *.svelte, but not: *.md.svelte
  1_stylelint: any of: *.{svelte,css}
  2_prettier: any of: *.{js,ts,svelte,css,json,md,yaml}, but not: pnpm-lock.yaml
