Repository vnphanquang/svelte-put: changes, and which lefthook commands are due for each by the changed paths.
All: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

lefthook.yaml:

assert_lefthook_installed: true
min_version: 1.7.18
pre-commit:
  piped: true
  follow: true
  skip:
    - merge
    - rebase
  commands:
    1_eslint:
      run: pnpm eslint --fix {staged_files}
      glob: '*.{js,ts,svelte}'
      stage_fixed: true
    2_svelte-check:
      run: pnpm svelte-check
      glob: '*.svelte'
      stage_fixed: true
      exclude:
        - '*.md.svelte'
    1_stylelint:
      run: pnpm stylelint {staged_files}
      glob: '*.{svelte,css}'
      stage_fixed: true
    2_prettier:
      run: pnpm prettier --write {staged_files}
      glob: '*.{js,ts,svelte,css,json,md,yaml}'
      stage_fixed: true
      exclude:
        - pnpm-lock.yaml

fix(async-stack): make sure resolve is called instead of just #internals.resolve on timeout
  .changeset/many-impalas-admire.md
  packages/async-stack/src/stack-item.svelte.js
Due: 1_eslint, 2_prettier

fix(async-stack): perform `delayResolution` setup in attachment
  .changeset/itchy-emus-shake.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

fix(async-stack): enhance-dialog - do all in attachment
  .changeset/old-fireants-jog.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

chore(async-stack): enhance-dialog - calling item.resolve should close dialog
  .changeset/hot-plums-pull.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

fix(async-stack): clickoutside bound should be of dialog element itself
  .changeset/tasty-chefs-dress.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

enhance(async-stack): use dialog.requestClose instead of dialog.close, if available
  .changeset/stale-suns-try.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

enhance(async-stack): use Set to store StackItemResolveListener
  .changeset/selfish-moons-hope.md
  packages/async-stack/src/stack-item.svelte.js
Due: 1_eslint, 2_prettier

docs(async-stack): mark item.onResolve as experimental
  .changeset/mean-ligers-wait.md
  packages/async-stack/src/stack-item.svelte.d.ts
Due: 1_eslint, 2_prettier

enhance(async-stack): use Set to store StackItemResolveListener
  .changeset/selfish-moons-hope.md
Due: 2_prettier

feat(async-stack): allow cancelling resolution mid-flow via item.onResolve callback
  .changeset/short-mails-pull.md
  packages/async-stack/src/stack-item.svelte.d.ts
  packages/async-stack/src/stack-item.svelte.js
  packages/async-stack/src/types.public.d.ts
Due: 1_eslint, 2_prettier

feat(async-stack): return cleanup callback for onResolve
  .changeset/olive-roses-itch.md
  packages/async-stack/src/helpers/enhance-dialog.js
  packages/async-stack/src/stack-item.svelte.d.ts
  packages/async-stack/src/stack-item.svelte.js
Due: 1_eslint, 2_prettier

feat(async-stack): implement `preventResolution` for the experimental `enhanceDialog`
  .changeset/loud-bats-trade.md
  packages/async-stack/src/helpers/enhance-dialog.d.ts
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

fix(async-stack): make sure DOM are updates before item.resolve run (call tick)
  .changeset/twenty-pigs-hope.md
  packages/async-stack/src/stack-item.svelte.js
Due: 1_eslint, 2_prettier

fix(async-stack): clean up old cancel listener in enhance-dialog
  .changeset/khaki-worms-flow.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

fix(async-stack): only call showModal if not already open (enhanceDialog)
  .changeset/rich-swans-do.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

fix(async-stack): handle esc keydown explicitly in enhanceDialog for preventResolution
  .changeset/spicy-mayflies-stare.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

enhance(async-stack): return early if event is default-prevented (enhanceDialog)
  .changeset/breezy-buses-bow.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

feat(async-stack): expose StackItem.msToTimeout as a public rune
  .changeset/two-meals-cough.md
  packages/async-stack/src/stack-item.svelte.d.ts
  packages/async-stack/src/stack-item.svelte.js
Due: 1_eslint, 2_prettier

Revert "feat(async-stack): expose StackItem.msToTimeout as a public rune" (not helpful)
  .changeset/fair-goats-camp.md
  packages/async-stack/src/stack-item.svelte.d.ts
  packages/async-stack/src/stack-item.svelte.js
Due: 1_eslint, 2_prettier

feat(async-stack): implement StackItem.progress
  .changeset/healthy-cows-matter.md
  packages/async-stack/src/stack-item.svelte.d.ts
  packages/async-stack/src/stack-item.svelte.js
  packages/async-stack/src/stack.svelte.js
Due: 1_eslint, 2_prettier

fix(async-stack): switch to svelte/events.on instead of addEventListener
  .changeset/weak-rabbits-know.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

feat(async-stack): renderPopover helper
  .changeset/smooth-deers-swim.md
  packages/async-stack/src/helpers/index.js
  packages/async-stack/src/helpers/render-popover.d.ts
  packages/async-stack/src/helpers/render-popover.js
Due: 1_eslint, 2_prettier

fix(async-stack): ignore null timeout as 0 (currently resolve immediately)
  .changeset/chatty-dolphins-cross.md
  packages/async-stack/package.json
  packages/async-stack/src/stack-item.svelte.d.ts
  packages/async-stack/src/stack-item.svelte.js
  packages/async-stack/src/stack.svelte.d.ts
  packages/async-stack/src/stack.svelte.js
  packages/async-stack/src/types.package.d.ts
  pnpm-lock.yaml
Due: 1_eslint, 2_prettier

fix(async-stack): check progress should account for 0
  .changeset/fair-gorillas-compare.md
  packages/async-stack/src/helpers/render-popover.js
Due: 1_eslint, 2_prettier

fix(inline-svg): better dimension better
  .changeset/twenty-knives-punch.md
  packages/inline-svg/src/action/internals.js
Due: 1_eslint, 2_prettier

fix(async-stack): only fire clickoutside if pointerup & pointerdown are outside
  .changeset/hot-ads-heal.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier

fix(qr): avoid directory import
  .changeset/wet-cobras-give.md
  packages/qr/src/img/index.js
  packages/qr/src/svg/index.js
Due: 1_eslint, 2_prettier

Fix: changelogUrl pointed to package folder instead of CHANGELOG.md
  sites/docs/src/routes/(site)/docs/[id=pkg]/+page.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

Fix: correct docs source URLs
  sites/docs/src/routes/(site)/docs/[id=pkg]/+page.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

docs(turnstile): fix typos in Turnstile event names
  sites/docs/src/packages/cloudflare-turnstile/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

docs(qr): note about error on invalid combination of version & correction
  packages/qr/src/qr/index.js
  sites/docs/src/packages/qr/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

fix(qr): correctly export public typing of root
  .changeset/clean-mayflies-invent.md
  packages/qr/src/index.js
  sites/docs/src/packages/qr/_page/examples/img-headless.svelte
  sites/docs/src/packages/qr/_page/examples/svg-headless.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

fix(qr): correctly apply version & correction options
  .changeset/shaggy-mirrors-check.md
  packages/qr/src/qr/index.js
  packages/qr/src/qr/internals.js
  packages/qr/src/svg/QR.svelte
  packages/qr/src/svg/QR.svelte.d.ts
  sites/docs/src/packages/qr/_page/examples/img-action.svelte
  sites/docs/src/packages/qr/_page/examples/img-background-fill.svelte
  sites/docs/src/packages/qr/_page/examples/img-component-with-snippet.svelte
  sites/docs/src/packages/qr/_page/examples/img-component.svelte
  sites/docs/src/packages/qr/_page/examples/img-headless.svelte
  sites/docs/src/packages/qr/_page/examples/svg-action.svelte
  sites/docs/src/packages/qr/_page/examples/svg-component-with-snippet.svelte
  sites/docs/src/packages/qr/_page/examples/svg-component.svelte
  sites/docs/src/packages/qr/_page/examples/svg-headless.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

chore: clear NPM_TOKEN in publish workflow, use NPM Trusted Publisher
  .github/workflows/changesets.yaml
Due: 2_prettier

chore: lock package versions
  package.json
  pnpm-lock.yaml
  sites/docs/package.json
Due: 2_prettier

chore: enforce package provenance using .npmrc and github global NPM_CONFIG_PROVENANCE action variable
  .github/workflows/changesets.yaml
  packages/async-stack/package.json
  packages/avatar/package.json
  packages/clickoutside/package.json
  packages/cloudflare-turnstile/package.json
  packages/copy/package.json
  packages/dragscroll/package.json
  packages/inline-svg/package.json
  packages/intersect/package.json
  packages/lockscroll/package.json
  packages/movable/package.json
  packages/popover/package.json
  packages/preaction/package.json
  packages/preprocess-auto-slug/package.json
  packages/preprocess-external-link/package.json
  packages/preprocess-markdown/package.json
  packages/qr/package.json
  packages/resize/package.json
  packages/shortcut/package.json
  packages/swipeable/package.json
  packages/toc/package.json
  packages/ui/package.json
  sites/docs/.npmrc
Due: 2_prettier

chore: upgrade to node 24 & pnpm 10
  .github/workflows/changesets.yaml
  package.json
  pnpm-workspace.yaml
Due: 2_prettier
