Repository vnphanquang/svelte-put: changes, and which lefthook commands are due for each by the changed paths.
All: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

lefthook.yaml:

assert_lefthook_installed: true
min_version: 1.7.18
pre-commit:
  piped: true
  follow: true
  skip:
    - merge
    - rebase
  commands:
    1_eslint:
      run: pnpm eslint --fix {staged_files}
      glob: '*.{js,ts,svelte}'
      stage_fixed: true
    2_svelte-check:
      run: pnpm svelte-check {staged_files}
      glob: '*.svelte'
      stage_fixed: true
      exclude:
        - '*.md.svelte'
    1_stylelint:
      run: pnpm stylelint {staged_files}
      glob: '*.{svelte,css}'
      stage_fixed: true
    2_prettier:
      run: pnpm prettier --write {staged_files}
      glob: '*.{js,ts,svelte,css,json,md,yaml}'
      stage_fixed: true
      exclude:
        - pnpm-lock.yaml

chore(docs): add ai.txt
  sites/docs/static/ai.txt
Due: none

chore(docs): add ads.txt
  sites/docs/static/ads.txt
Due: none

chore: configure correct prerendering strategy
  sites/docs/src/routes/(site)/docs/[id=pkg]/+page.ts
  sites/docs/src/routes/(site)/search/+page.ts
  sites/docs/svelte.config.js
Due: 1_eslint, 2_prettier

fix(shortcut): revert semver breaking changes in 3.1.2
  .changeset/weak-countries-shop.md
  packages/shortcut/src/public.d.ts
  packages/shortcut/src/shortcut.js
  sites/docs/src/routes/docs/(package)/shortcut/_page/content.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

fix(shortcut): revert semver breaking changes in 4.0.1
  .changeset/weak-countries-shop.md
  packages/shortcut/src/shortcut.js
  packages/shortcut/src/types.public.d.ts
  sites/docs/src/packages/shortcut/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

docs(README): update svelte 5 notice
  README.md
Due: 2_prettier

fix(cloudflare-turnstile): feedback-enabled should be optional
  .changeset/eleven-apples-float.md
  packages/cloudflare-turnstile/src/types.public.d.ts
Due: 1_eslint, 2_prettier

inline-svg: support Vite 6
  packages/inline-svg/package.json
Due: 2_prettier

inline-svg: bump version
  packages/inline-svg/package.json
Due: 2_prettier

chore: add changeset
  .changeset/strange-games-yell.md
  packages/inline-svg/package.json
  pnpm-lock.yaml
Due: 2_prettier

fix(toc): fallback for crypto api
  .changeset/smooth-baboons-switch.md
  packages/async-stack/src/stack.svelte.js
  packages/toc/src/toc.svelte.js
  sites/docs/src/packages/swipeable/_page/examples/demo.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

docs(async-stack): fix typo
  sites/docs/src/packages/async-stack/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

cloudflare-turnstile: support 'flexible' size
  packages/cloudflare-turnstile/src/types.public.d.ts
Due: 1_eslint, 2_prettier

chore: add changeset for 2e807ff
  .changeset/lovely-eggs-rush.md
Due: 2_prettier

fix(toc): correctly set observe.link when observe is boolean
  .changeset/sweet-teachers-talk.md
  packages/toc/src/toc.svelte.js
Due: 1_eslint, 2_prettier

chore: remove obsolete lint-staged config (now using lefthook)
  lefthook.yaml
  lint-staged.config.js
Due: 1_eslint, 2_prettier

style(docs.swipeable): disable touch altogether for items
  sites/docs/src/packages/swipeable/_page/examples/demo.svelte
Due: 1_eslint, 2_svelte-check, 1_stylelint, 2_prettier

feat(swipeable): set touch-action: none on node (better compat with mobile)
  .changeset/social-roses-rule.md
  packages/swipeable/src/swipeable.svelte.js
  packages/swipeable/src/types.private.d.ts
  packages/swipeable/src/types.public.d.ts
Due: 1_eslint, 2_prettier

feat(cloudflare-turnstile): tailwind V4 utility
  .changeset/dull-experts-jog.md
  packages/cloudflare-turnstile/package.json
  packages/cloudflare-turnstile/src/tailwind.css
Due: 1_stylelint, 2_prettier

docs(inline-svg): fix typo in config example
  sites/docs/src/packages/inline-svg/docs.md.svelte
Due: 1_eslint, 1_stylelint, 2_prettier

docs: update root package.json
  CONTRIBUTING.md
Due: 2_prettier

fix(async-stack): better type inference for custom push
  .changeset/popular-keys-divide.md
  packages/async-stack/src/stack.svelte.d.ts
  packages/async-stack/src/stack.svelte.js
Due: 1_eslint, 2_prettier

docs(async-stack): explain each member in StackItemState union
  .changeset/tender-ligers-pull.md
  packages/async-stack/src/types.package.d.ts
Due: 1_eslint, 2_prettier

fix(lockscroll): unlock when action is destroyed
  .changeset/gold-tigers-dream.md
  packages/lockscroll/src/lockscroll.js
Due: 1_eslint, 2_prettier

chore(async-stack): manually define public type for StackItem
  .changeset/stupid-plants-explain.md
  packages/async-stack/src/stack-item.svelte.d.ts
  packages/async-stack/src/stack-item.svelte.js
  packages/async-stack/src/types.public.d.ts
Due: 1_eslint, 2_prettier

chore: upgrade dts-buddy
  package.json
  pnpm-lock.yaml
Due: 2_prettier

feat(async-stack): implement onResolve
  .changeset/honest-pens-compete.md
  packages/async-stack/src/stack-item.svelte.d.ts
  packages/async-stack/src/stack-item.svelte.js
  packages/async-stack/src/types.public.d.ts
Due: 1_eslint, 2_prettier

feat(async-stack): enhanceDialog helper
  .changeset/fluffy-gifts-love.md
  package.json
  packages/async-stack/package.json
  packages/async-stack/src/helpers/enhance-dialog.js
  packages/async-stack/src/helpers/index.js
  pnpm-lock.yaml
Due: 1_eslint, 2_prettier

fix(async-stack): skip resolution if already timeouted
  .changeset/cuddly-glasses-visit.md
  packages/async-stack/src/stack-item.svelte.js
Due: 1_eslint, 2_prettier

fix(async-stack): call unmount in render action destroy upon item resolution
  .changeset/tasty-foxes-travel.md
  packages/async-stack/src/stack.svelte.js
Due: 1_eslint, 2_prettier

docs(async-stack): mark enhanceDialog as experimental
  .changeset/chilled-ligers-draw.md
  packages/async-stack/src/helpers/enhance-dialog.js
Due: 1_eslint, 2_prettier
